<!-- index.html -->
{% extends 'layout.html' %}

{% block title %}Simple Form{% endblock %}

{% block data_content %}
    <h1>Danh sách sinh viên</h1>
    <div id="search-container">
        <label for="search">Mã sinh viên:</label>
        <input type="number" id="search" name="search" oninput="searchData()">
        <button id="clear" onclick="clearSearch()">Clear</button>
        <button id="delete" onclick="deleteData()">Delete</button>
        <!-- <div id="search-results"></div> -->
    </div>
    
    <table border="1">
        <thead>
            <tr>
                <th>MSV</th>
                <th>Họ tên</th>
                <th>Lớp</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data_list %}
                <tr>
                    <td>{{ item['key'] }}</td>
                    <td>{{ item['value']['Họ tên'] }}</td>
                    <td>{{ item['value']['Lớp'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block form_content %}
    <h1>Thêm sinh viên</h1>
    <form id="myForm" action="{{ url_for('submit_form') }}" method="post">
        <label for="msv">Mã sinh viên:</label>
        <input type="number" id="msv" name="msv" required>
        <br>

        <label for="name">Họ - Tên:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="class">Lớp:</label>
        <input type="text" id="class" name="class" required>
        <br>

        <button type="submit" onclick="submitForm()">Submit</button>

    </form>

    <form action="{{ url_for('recogni') }}">
        <button type="submit">Detect Faces</button>
    </form>

    <form action="{{ url_for('export_to_excel') }}" method="post">  
        <button type="submit">Export to Excel</button>
    </form>

    <script>
        function submitForm() {
            document.getElementById("myForm").submit();
            location.reload();
        }

        function searchData() {
            var searchInput = document.getElementById("search").value.toLowerCase();
            var tableRows = document.querySelectorAll("tbody tr");

            tableRows.forEach(function(row) {
                var rowId = row.querySelector("td:first-child").innerText.toLowerCase();
                if (rowId.includes(searchInput)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });

            // Display search results
            var searchResults = document.getElementById("search-results");
            // searchResults.innerText = "Search results: " + searchInput;
        }

        function clearSearch() {
            var tableRows = document.querySelectorAll("tbody tr");
            tableRows.forEach(function(row) {
                row.style.display = "";  // Display all rows
            });

            // Clear search input and results
            var searchInput = document.getElementById("search");
            //var searchResults = document.getElementById("search-results");
            searchInput.value = "";
            //searchResults.innerText = "";
        }

        function deleteData() {
            var searchInput = document.getElementById("search").value.toLowerCase();
            var tableRows = document.querySelectorAll("tbody tr");

            tableRows.forEach(function(row) {
                var rowId = row.querySelector("td:first-child").innerText.toLowerCase();
                if (rowId.includes(searchInput)) {
                    var msvToDelete = rowId;

                    // Gọi endpoint mới để xóa thông tin từ Realtime Database
                    fetch('/delete/' + msvToDelete, { method: 'DELETE' })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Deleted:', data);
                            // Reload trang sau khi xóa
                            location.reload();
                        })
                        .catch(error => console.error('Error:', error));
                }
            });
        }
    </script>
{% endblock %}
